<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NodeJS and ExpressJS Website</title>
  </head>

  <body>
    <h1>Will be right back</h1>
    <p>
      The site is currently getting upgraded.
    </p>
  </body>
</html>
